.App {
  /*text-align: center;*/
}

#root {
  font-family: 'Open Sans';
}

.App-header {
  background-image: url("./headerImage.jpg");
  background-size: contain;
  height: 200px;
  padding: 0px;
  color: white;
  text-align: center;
}

.headerContent {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  padding-left: 60px;
}

.mapboxgl-control-container {
  display: none;
}

.mapboxgl-map {
  margin: 5% 7.4%;
}

h1, h2, form {
  text-align: center;
}

input {
  margin: 5px auto;
}

ul {
  list-style: none;
  text-align: center;
}
html {
  background: rgb(241, 241, 241);
  color: rgb(48,48,45);
}

button {
  width: 100px;
  background: rgb(48,48,45);
  color: rgb(241,241,241);
  border-radius: 5px;
  margin: 2px 0;
}

.editUser {
  margin: 2px 48%;
}

#selectedOtaku {
  height: 300px;
}

#user-container {
  border: 1px solid black;
  margin: 5% 25%;
}

.col-1 {
  float: left;
  margin: 0 45.5%;
}

.chat-col {
  float: left;
  margin: -45% 67%;
  width: 30%;
}

.picture {
  width: 25%;
  height: 25%;
  margin: 2% 10%;
}

.name {
  text-align: center;
  margin: -13% 50%;
}

.bio {
  text-align: center;
  width: 90%;
  margin: 20% 5%;
}
#sidebar {
  text-align: center;
  background: pink;
  width: 60px;
  min-height: 100%;
  position: fixed;
}

a {
  text-decoration: none;
  color: red;
  height: 100px;
}

.navagation {
  margin: 350% auto;
}

.icon {
  width: 35px;
  height: 30px;
}

.link-container {
  margin: 5% auto;
}

.homeView {
  text-align: center;
  margin-left: 10%;
}

.homeImg {
  margin: 0 auto;
  width: 100%;
}

.feature {
  /*border: .5px solid grey;
  border-radius: 3px;
  box-shadow: 3px 3px 3px 3px;*/
  margin: 10px 10px;
  margin-bottom: 50px;
}

.feature h2 {
  text-decoration: underline;
  margin-bottom: 30px;
}

.featureHalf {
  width: 50%;
  display: inline-block;
  margin: 10px 0;
  vertical-align: middle;
}

.featureHalf img {
  width: 50%;
  height: 50%;
}

.featureHalf p {
  font-size: 22px;
  margin-top: 10%;
}

.footer {
  background-color: black;
  color: white;
  position: relative;
  bottom: 0;
}

.signUpButton {
  color: rgb(48,48,45);
  background-color: #F1F1F1;
  border-radius: 3px;
}

.chatBox {
  border: 1px solid rgb(48,48,45);
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px grey;
  background-color: white;
  overflow-y: auto;
  overflow-wrap: break-word;
  height: 300px;
}

.chatBox ul {
  padding-left: 0;
}

.messages {
  padding: 5px 0;
  margin: 5px 20px;
}

#input {
  margin-top: 20px;
  margin-right: 10px;
}

.message {
  border: .5px solid lightgrey;
  border-radius: 3px;
  box-shadow: 3px 3px 3px;
  background-color: rgb(241,241,241);
  margin: 10px 0;
}

.message p {
  margin: 0 0 -5px 0;
}

#chat-container {
  margin: 0 auto;
  text-align: center;
}

.chatPic {
  height: 30px;
  width: 30px;
}
